[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule "vimfiles/bundle/tcomment_vim"]
	path = vimfiles/bundle/tcomment_vim
	url = git@github.com:tomtom/tcomment_vim
[submodule "vimfiles/bundle/vim-airline"]
	path = vimfiles/bundle/vim-airline
	url = git@github.com:bling/vim-airline
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree
[submodule "vimfiles/bundle/vim-nerdtree-tabs"]
	path = vimfiles/bundle/vim-nerdtree-tabs
	url = git@github.com:jistr/vim-nerdtree-tabs
[submodule "vimfiles/bundle/vim-puppet"]
	path = vimfiles/bundle/vim-puppet
	url = git@github.com:rodjek/vim-puppet
[submodule "vimfiles/bundle/vim-airline-themes"]
	path = vimfiles/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes
[submodule "vimfiles/bundle/syntastic"]
	path = vimfiles/bundle/syntastic
	url = git@github.com:scrooloose/syntastic
[submodule "vimfiles/bundle/tender.vim"]
	path = vimfiles/bundle/tender.vim
	url = git@github.com:jacoborus/tender.vim
[submodule "vimfiles/bundle/vim-scala"]
	path = vimfiles/bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala
[submodule "vimfiles/bundle/indentLine"]
	path = vimfiles/bundle/indentLine
	url = git@github.com:Yggdroot/indentLine
[submodule "vimfiles/bundle/markdown"]
	path = vimfiles/bundle/markdown
	url = git@github.com:gabrielelana/vim-markdown
[submodule "vimfiles/bundle/vim-tabular"]
	path = vimfiles/bundle/vim-tabular
	url = git@github.com:godlygeek/tabular
[submodule "vimfiles/bundle/vim-jsx"]
	path = vimfiles/bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx
[submodule "vimfiles/bundle/vim-javascript"]
	path = vimfiles/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript
[submodule "zsh/modules/oh-my-zsh"]
	path = zsh/modules/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh
[submodule "zsh/modules/theme"]
	path = zsh/modules/theme
	url = git@github.com:halfo/lambda-mod-zsh-theme
[submodule "zsh/modules/zsh-syntax-highlighting"]
	path = zsh/modules/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting
